#avatar2 {
    width: 75px;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 10px;
}

#avatar2 img {
    height: 100%;
    border-radius: 5px;
    margin-right: -15px;
}

#menu2 {
    border: #999 solid 1px;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 100%;
    display: none;
    background-color: #FFF;
    opacity: 0;
    transition:opacity 0.3s;
}
#menu2 section {
    border-bottom: #999 solid 1px;
    width: 100%;
    display: flex;
    flex-direction: column;    
    display: flex;

}

#menu2 section > div {
    padding: 10px;
    max-width: 100%;
}



.material-icons {
    cursor: pointer;
}

#menu {
    background-color: rgb(102, 51, 3); 
    width: 100vw;
    height: 125px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
body, html {
    margin: 0;
}
.links {
    color: white;
    font-size: 20pt;
    margin: 25px;
    align-items: center;
    display: flex;
}
#avatar {
    display: flex;
    height: 75px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
    /* position: fixed; */
    margin-top: 30px;
    top: 25px;
    left: 25px;
    justify-content: center;
}

#profile {
    margin: 5px;
    flex: 1;
    background-color: gray;
    border-radius: 5px;
}

#name {
    margin: 5px;
    flex: 2;
    font-family: Helvetica;
    font-size: 14pt;
    align-items: center;
    justify-content: center;
    padding: 0;
}