
.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: pink;
  color:pink;
  text-align: center;
}

.rectangle {
    display: flex;
    height: 50px;
    width: 100px;
    background-color: brown;
    display: flex;
    flex-direction: row;
  }
